<h1><%= @room.name %></h1>
<%= link_to "Register Now To Claim Room", new_user_registration_path(room: @room.name) %>

<hr>

<%= link_to "make unrestricted", toggle_status_room_path(status: :unrestricted) %>
<%= link_to "make restricted", toggle_status_room_path(status: :restricted) %>

<hr>

<%= link_to "claim room", claim_room_path %>

<hr>

<%= @room.inspect %>

<hr>
<button onclick="handleJoinSession();">Join Session</button>
<hr>

<span id="room-name" data-room='<%= @room.slug %>'>
</span>

<% content_for :page_js do %>
  <script type="text/javascript">
    <%= render file: "#{Rails.root}/app/views/rooms/js/webrtc.js" %>
  </script>
<% end %>
