<h1><%= @room.name %></h1>
<%= link_to "Register Now To Claim Room", new_user_registration_path(room: @room.name) %>

<hr>

<%= link_to "make unrestricted", toggle_status_room_path(status: :unrestricted) %>
<%= link_to "make restricted", toggle_status_room_path(status: :restricted) %>

<hr>

<%= link_to "claim room", claim_room_path %>

<hr>

<%= @room.inspect %>
