<h1><%= @room.name %></h1>
<%= link_to "Register Now To Claim Room", new_user_registration_path(room: @room.name) %>

<hr>

<%= link_to "make unrestricted", toggle_status_room_path(status: :unrestricted) %>
<%= link_to "make restricted", toggle_status_room_path(status: :restricted) %>

<hr>

<%= link_to "claim room", claim_room_path %>

<hr>

<%= link_to "add password", edit_room_path %>

<hr>

<%= @room.inspect %>

<span id="room-name" data-room='<%= @room.slug %>'></span>

<h1>Action Cable Signaling Server</h1>

<span id="xirsys-creds" data-xirsys='<%= @json_response.html_safe %>'>
</span>


<div>User's Email
  <span id="currentUser" class="badge badge-primary"><%= @user.email %></span>
</div>

<div id="remoteViewContainer"></div>

<div class="row">
  <div class="col-md-12">
    <div id="localViewContainer">
      <video id="selfView" autoplay></video>
    </div>
  </div>
</div>

<div id="join-btn-container">
  <button onclick="handleJoinSession()" class="btn btn-success">
    Join Room
  </button>
</div>

<div id="leave-btn-container">
  <button onclick="handleLeaveSession()" class="btn btn-danger">
    Leave Room
  </button>
</div>

<% content_for :page_js do %>
  <script type="text/javascript">
    <%= render file: "#{Rails.root}/app/views/rooms/js/webrtc.js" %>
  </script>
<% end %>
